<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>JSLinter</title>
    <link href="styles.css" rel="stylesheet">
</head>
<body>
    <header class="clearfix">
        <h1>JSLinter</h1>

        <nav id="nav">
            <ul>
                <li data-id="scripts">Scripts</li>
                <li data-id="results">Results</li>
                <li data-id="options">Options</li>
            </ul>
            <div class="actions">
                <button id="analyse">Analyse</button>
            </div>
        </nav>
    </header>

    <div id="main">
        <div id="scripts" class="page">
            No scripts
        </div>

        <div id="results" class="page">
            No results
        </div>

        <div id="options" class="page">
            JSLint options
        </div>
    </div>

    <script id="result-row" type="text/ejs">
        <div class="result <% if (errors.length === 0) { %>success<% } else { %>error<% } %>">
            <span class="error-count"><%= errors.length %></span>

            <div class="url">
                <span class="filename"><%= url.filename %></span>
                <span class="full"><%= url.href %></span>
            </div>
        </div>
    </script>

    <script id="script-row" type="text/ejs">
        <% for (var i=0,l=scripts.length; i < l; i++) { %>
        <div class="script">
            <label>
                <input type="checkbox" value="<%= scripts[i].url.href %>" <% if (scripts[i].enabled) { %>checked<% } %> />
                <span class="filename"><%= scripts[i].url.filename %></span>
                <span class="full"><%= scripts[i].url.href %></span>
            </label>
        </div>
        <% } %>

        <% if (scripts.length === 0) { %>
        No scripts on this page
        <% } %>
    </script>
</body>
</html>