{{#scripts}}
<div class="script">
    <label><input type="checkbox" value="{{url}}" {{#isEnabled}}checked{{/isEnabled}} /> {{url}}</label>
</div>
{{/scripts}}

{{^scripts}}
No scripts on this page
{{/scripts}}