body {
    margin: 0;
    padding: 5px;
    padding-top: 2px;
    -moz-box-sizing: border-box;
    display: -moz-box;
    -moz-box-orient: vertical;
    font-size: 13px;
    background: #fff;
}

html, body {
    width: 100%;
    height: 100%;
}

body, button, input, select, textarea {
    font-family: sans-serif;
    color: #222;
}

header h1 {
    float: left;
    margin: 0;
    font-size: 24px;
    color: #a4c639;
}

#nav {
    position: relative;
    top: 3px;
    float: left;
}

    #nav ul {
        list-style: none;
        list-style-image: none;
        margin: 0;
        padding: 0;
    }

        #nav li {
            float: left;
            margin-left: 5px;
            padding: 5px;
            cursor: pointer;
            border: 3px solid #a4c639;
            border-bottom: none;
            background: #fff;
            font-weight: bold;
        }

        #nav li.active, #nav li:hover {
            padding-bottom: 8px;
        }

#main {
    -moz-box-flex: 1;
    padding: 5px;
    border: 3px solid #a4c639;
}

.page {
    display: none;
}

.script {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }