/*
 * HTML5 ✰ Boilerplate
 *
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



/* ==|== primary styles ===================================================== */

body {
    background: #fff;
}

html, body {
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
}

    #header h1 {
        float: left;
        margin: 0;
        font-size: 24px;
        color: #a4c639;
    }

    #nav {
        position: relative;
        float: left;
        z-index: 10;
    }

        #nav ul {
            float: left;
        }

            #nav li {
                float: left;
                margin-left: 5px;
                padding: 5px;
                cursor: pointer;
                border: 3px solid #a4c639;
                border-bottom: none;
                background: #fff;
                font-weight: bold;
            }

            #nav li[aria-selected="true"], #nav li:hover {
                padding-bottom: 8px;
            }

        #nav .actions {
            float: left;
            margin-left: 5px;
        }

#main {
    position: absolute;
    top: 35px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border: 3px solid #a4c639;
    overflow: auto;
}

.page {
    display: none;
    padding: 5px;
}

    :-moz-any(#scripts, #options) label {
        display: block;
    }

    .script, .result {
        font-size: 11px;
    }

        .result [role="tabpanel"] {
            display: none;
            padding: 5px 0;
        }

        .result [role="tabpanel"][aria-expanded="true"] {
            display: block;
        }

        .script, .result [role="tab"] {
            font-weight: bold;
        }

            :-moz-any(.script, .result) .full {
                display: none;
                text-decoration: underline;
            }

            .script:hover .full, .result [role="tab"]:hover .full {
                display: inline;
            }

            .script:hover .filename, .result [role="tab"]:hover .filename {
                display: none;
            }

            .script, .result .url {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

    .result [role="tab"] {
        padding-left: 14px;
        cursor: pointer;
        background: url(twistyClosed.png) no-repeat left top;
    }

        .result.success [role="tab"] {
            color: green;
        }

        .result.error [role="tab"] {
            color: red;
        }

        .result [role="tab"][aria-selected="true"] {
            background-image: url(twistyOpen.png);
        }

        .result [role="tab"] .url {
            margin-right: 3em;
        }

        .result [role="tab"] .error-count {
            float: right;
        }

        .result .details #errors {
            padding-bottom: 1em;
            border-bottom: 2px solid #a4c639;
        }

            .result [role="tabpanel"] #errors p {
                margin: 0.5em 0;
            }

            .result [role="tabpanel"] #errors > i {
                display: none;
            }

            .result [role="tabpanel"] #errors .evidence {
                border: 1px solid #D2E39C;
                padding: 2px;
                font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
                color: #000;
                margin-bottom: 1.5em;
            }

            .result [role="tabpanel"] #functions {
                font-family: monospace;
            }

            .result [role="tabpanel"] #functions div {
                margin-left: 10em;
                text-indent: -5em;
            }

            .result [role="tabpanel"] #functions div.function {
                margin-left: 0;
                text-indent: 0;
            }

    #options .columns {
        margin-bottom: 1.5em;
    }

        #options .column {
            float: left;
            margin-right: 1.5em;
        }

    #options .number {
        width: 3em;
    }

    #options .list {
        width: 30em;
    }


/* ==|== non-semantic helper classes ======================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== print styles ======================================================= */

@media print {
    * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}